<launch>
  <include file="$(find ros_monitoring)/launch/cpu_monitor.launch" />
  <include file="$(find ros_monitoring)/launch/ram_monitor.launch" />
  <include file="$(find ros_monitoring)/launch/node_monitor.launch" />
  <include file="$(find ros_monitoring)/launch/nw_monitor.launch" />
  <include file="$(find ros_monitoring)/launch/topic_monitor.launch" />
</launch>