<launch>

    <node pkg="monitoring_visualization" type="gui_msg_concat_node" name="gui_msg_concat_node" output="screen" respawn="true">
        <rosparam>
            frequency: 1
        </rosparam>
    </node>

    <group ns="system">
        <include file="$(find monitoring_monitors_system)/launch/cpu_monitor.launch" />
        <include file="$(find monitoring_monitors_system)/launch/nw_monitor.launch" />
        <include file="$(find monitoring_monitors_system)/launch/ram_monitor.launch" />
        <include file="$(find monitoring_monitors_system)/launch/wifi_monitor.launch" />
        <!--include file="$(find monitoring_monitors_system)/launch/ping_monitor.launch" /-->
        <include file="$(find monitoring_monitors_system)/launch/cpu_frequency_monitor.launch" />

        <node pkg="monitoring_monitors_system" type="ntp_monitor.py" name="ntp_monitor" output="screen">
        </node>
    </group>

    <group ns="ros">

        <include file="$(find monitoring_monitors_ros)/launch/node_monitor.launch" />
        <include file="$(find monitoring_monitors_ros)/launch/node_ressource_monitor.launch" />

        <node pkg="monitoring_monitors_ros" type="monitorstatistics.py" name="statistics_monitor" respawn="true">
            <rosparam command="load" file="$(find monitoring_monitors_ros)/config/statisticsconfig.yaml" />
        </node>

        <include file="$(find monitoring_monitors_ros)/launch/tf_monitor.launch" />
        <include file="$(find monitoring_monitors_ros)/launch/topic_monitor.launch" />
    </group>
</launch>
