<launch> 
	<include file="$(find monitoring_monitors_system)/launch/cpu_monitor.launch" />
	<include file="$(find monitoring_monitors_system)/launch/nw_monitor.launch" />
	<include file="$(find monitoring_monitors_system)/launch/ram_monitor.launch" />
	<include file="$(find monitoring_monitors_system)/launch/wifi_signal_strength_monitor.launch" />

	<node pkg="monitoring_monitors_system" type="ntp_monitor.py" name="ntp_monitor" 	output="screen">
	</node>

</launch> 
   
