<launch>
	
    <node pkg="monitoring_fdir" type="fdi_example_node" name="fdi_system" output="screen" respawn="true">
                <rosparam command="load" file="$(find monitoring_fdir)/config/fdiexample.yaml" />
	</node>
	
        <node pkg="monitoring_fdir" type="recovery_example_node" name="recovery_system" output="screen" respawn="true">
                <rosparam command="load" file="$(find monitoring_fdir)/config/recoveryexample.yaml" />
	</node>
	
</launch>
